<!DOCTYPE html>
<html>
<head>
    <title>Image Classifier</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Image Classifier</h1>
    <button onclick="window.location.href='{{ url_for('classifications') }}'">See Trained Classes</button>
    <div class="container">
        <form method="post">
            Image URL: <input type="text" name="image_url">
            <input type="submit" value="Analyze">
        </form>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        {% if image_url %}
            <h3>Predicted class: {{ predicted_class_name }}</h3>
            <img src="{{ image_url }}" alt="Analyzed Image" style="max-width: 500px;">
        {% endif %}
        <div class="gallery">
            {% for image in images_metadata %}
                <div class="image-card">
                    <a href="{{ image.path }}">
                        <img src="{{ image.path }}" alt="{{ image.class_name }}">
                        <p>{{ image.class_name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
